
body {
    font-size: 18px; 
    color: #333; 
    background-color: #f8f8f8; /* Light background */
    line-height: 1.6;
    font-family: Arial, sans-serif;
    transition: color 0.3s ease, background-color 0.3s ease;
}
.high-contrast {
    color: #fff; 
    background-color: #000; /
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
p, li {
    font-size: 1rem;
    margin-bottom: 20px;
}
img {
    width: 50%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 20px 0;
}
#contrast-toggle {
    font-size: 1em;
    padding: 10px 20px;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}
a {
    color: #007bff;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
